@model APPCOVID.Entity.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buy Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Transaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="TRANSACTIONID" class="control-label"></label>
                <input asp-for="TRANSACTIONID" class="form-control" />
                <span asp-validation-for="TRANSACTIONID" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <label asp-for="PRODUCTID" class="control-label"></label>
            @Html.TextBoxFor(model => model.PRODUCTID, new { @class = "form-control", @readonly = "readonly" })
            <span asp-validation-for="PRODUCTID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CUSTOMERID" class="control-label"></label>
            @Html.TextBoxFor(model => model.CUSTOMERID, new { @class = "form-control", @readonly = "readonly" })
            <span asp-validation-for="CUSTOMERID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SUBSCRIPTIONTYPE" class="control-label"></label>
            @*<input asp-for="SUBSCRIPTIONTYPE" class="form-control" />*@
        <select asp-for="SUBSCRIPTIONTYPE" class="form-control">
            <option value="Monthly">Monthly</option>
            <option value="Quarterly">Quarterly</option>
            <option value="Yearly">Yearly</option>
        </select>
            <span asp-validation-for="SUBSCRIPTIONTYPE" class="text-danger"></span>
        </div>
            @*<div class="form-group">
                <label asp-for="PODETAILS" class="control-label"></label>
                <input asp-for="PODETAILS" class="form-control" />
                <span asp-validation-for="PODETAILS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CREATEDDATE" class="control-label"></label>
                <input asp-for="CREATEDDATE" class="form-control" />
                <span asp-validation-for="CREATEDDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VALIDUPTODATE" class="control-label"></label>
                <input asp-for="VALIDUPTODATE" class="form-control" />
                <span asp-validation-for="VALIDUPTODATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STATUS" class="control-label"></label>
                <input asp-for="STATUS" class="form-control" />
                <span asp-validation-for="STATUS" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

