@{
    ViewData["Title"] = "Home Page";
    ViewBag.pageHeader = "Dashboard";
}

<!-- Pie Chart -->
@{ int roleId = ViewBag.roleId; }
@if (roleId == 3)
{
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Test Result</h6>
                <div class="dropdown no-arrow">
                    @{
                        string testResult = "Not yet take any Test";
                        if (ViewBag.testResult != null)
                        {
                            APPCOVID.Entity.ViewModels.ConversationViewModel vm = (APPCOVID.Entity.ViewModels.ConversationViewModel)ViewBag.testResult;
                            testResult = vm.MESSAGE;
                        }
                    }
                    <b>@testResult</b>
                </div>

            </div>

            <!-- Card Body -->


        </div>

    </div>
}

<!-- Content Row -->
