@{
    ViewData["Title"] = "Home Page";
    ViewBag.pageHeader = "Dashboard";
}

<!-- Pie Chart -->
@{ int roleId = ViewBag.roleId; }
@if (roleId == 3)
{
<div class="col-xl-12 col-lg-12">
    
    <div class="card shadow mb-12">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <div class="dropdown no-arrow">
                @{
                        if (ViewBag.testResultDetails == null)
                        {

                    string nottestResult = "You have not yet taken any Screening Test";
                    <div class="alert alert-secondary" role="alert">
                         @nottestResult
                    </div>

                }else
                {
                       var vm = (IList<APPCOVID.BAL.InfectionSeverityCodesModel>)ViewBag.testResultDetails;
                                foreach(var itm in vm){
                                        if(itm.SeverityCode>5 && itm.Answer)
                        {
                    <div class="alert alert-danger" role="alert">
                        You are affected with: @itm.InfectionDesc
                    </div>
                                    }if(itm.SeverityCode>=3 && itm.SeverityCode<=5 && itm.Answer){
                    <div class="alert alert-warning" role="alert">
                        You are affected with: @itm.InfectionDesc
                    </div>
                        }if(itm.SeverityCode<3 && itm.Answer){
                    <div class="alert alert-primary" role="alert">
                        You are affected with: @itm.InfectionDesc
                    </div>
                                        }if(!itm.Answer){
                    <div class="alert alert-success" role="alert">
                        You are not affected with @itm.InfectionDesc
                    </div>
                                        }
                        }

                    <hr />
                if(ViewBag.affectedStage==3){
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>Aww yeah, you are a COVID19 Prime Suspect and Take medical assitance and go to hospital</p>
                        <hr>
                        <p class="mb-0">Please find Medical Assistance from the Product Page.</p>
                    </div>
                    }
                if(ViewBag.affectedStage==2){
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>You are affected with some symptoms of COVID19, immediately take medical assistance, and stay at home quarantined.</p>
                        <hr>
                        <p class="mb-0">Please find Medical Assistance from the Product Page.</p>
                    </div>
                    }
                if(ViewBag.affectedStage==1){
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>You are not infected with COVID,you may have minor infections- but those can be cured at home. Please stay safe and at home.</p>
                        <hr>
                        <p class="mb-0">Please find Medical Assistance and Insurance Products from the Product Page, which will help to keep you and your family safe.</p>
                    </div>
                    }
                }
                }
            </div>
        </div>

        <!-- Card Body -->


    </div>

</div>
}

<!-- Content Row -->
