@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            @{ if (ViewBag.IsAdminUser)
                {
                    Html.RenderPartial("~/Views/Home/_createCustomerPartialcshtml.cshtml");
                }
            }
        </div>
        <!-- Card Body -->
    </div>
</div>
