
@{
    ViewData["Title"] = "Ask Covid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pageHeader = "Ask Chatbot";
}
@section pageCss{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/chatbot.css" rel="stylesheet" />
    <link href="~/css/loader.css" rel="stylesheet" />
}


<div class="col-10 py-5 px-4" style="margin:0px auto">
    <!-- For demo purpose-->
    <header class="text-center">
        <h1 class="display-4 text-black-50">Covid-19 FAQ Bot</h1>
    </header>

    <div class="row rounded-lg overflow-hidden shadow">

        <!-- Chat Box-->
        <div class="col-12 px-10" style="padding-bottom:5px;">
            <div class="bg-gray px-4 py-2 bg-light">
                <p class="h5 mb-0 py-1">Ask Your Queries</p>
            </div>
            <div class="px-4 py-5 chat-box bg-white" id="chatContainer">
                <!-- Sender Message-->
                <div class="media mb-3">
                    <div class="media-body mr-3">
                        <div class="bg-light rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-muted">Hi User, how may I help you?</p>
                        </div>
                        <p class="small text-muted">@DateTime.Now.ToString("dd-MM-yyyy") | @DateTime.Now.ToString("hh:mm:ss")</p>
                    </div>
                    <img src="~/img/bot.jpg" alt="user" width="50" class="rounded-circle">
                </div>
            </div>
            <div id="loader" style="display:none; margin-bottom:5px;">
                <div id="fountainG">
                    <div id="fountainG_1" class="fountainG"></div>
                    <div id="fountainG_2" class="fountainG"></div>
                    <div id="fountainG_3" class="fountainG"></div>
                    <div id="fountainG_4" class="fountainG"></div>
                    <div id="fountainG_5" class="fountainG"></div>
                    <div id="fountainG_6" class="fountainG"></div>
                    <div id="fountainG_7" class="fountainG"></div>
                    <div id="fountainG_8" class="fountainG"></div>
                </div>
            </div>
            <!-- Typing area -->
            <div class="bg-light">
                <div class="input-group">
                    <input id="txtChatMsg" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                    <div class="input-group-append">
                        <a href="javascript:void(0)" id="button-addon2" class="btn btn-link" onclick="AskChatbotFAQ2('txtChatMsg','chatContainer','faq')"> <i class="fa fa-paper-plane"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section pageScripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/CovidApp/FaqChatbot.js"></script>
    <script type="text/javascript">
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                AskChatbotFAQ2('txtChatMsg', 'chatContainer', 'faq');
            }
        });
    </script>
}